absl-py==2.2.2
aiohttp==3.9.5
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.2.0
axial_positional_embedding==0.3.12
Brotli==1.0.9
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
CoLT5-attention==0.11.1
ConfigSpace==0.2.3
contourpy==1.2.1
cycler==0.12.1
Cython==3.0.11
dill==0.3.8
docker-pycreds==0.4.0
einops==0.8.0
filelock==3.13.1
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.6.1
gitdb==4.0.11
GitPython==3.1.43
grpcio==1.71.0
huggingface-hub==0.30.2
hyper-connections==0.1.15
idna==3.7
intel-cmplr-lib-ur==2025.1.0
intel-openmp==2025.1.0
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.5
lightning==2.5.1.post0
lightning-utilities==0.14.3
local-attention==1.11.1
mamba-ssm==2.2.4
Markdown==3.8
MarkupSafe==2.1.3
matplotlib==3.9.1
mkl==2025.1.0
mkl-fft==1.3.8
mkl-random==1.2.4
mkl-service==2.4.0
more-itertools==10.4.0
mpmath==1.3.0
multidict==6.0.5
networkx==3.3
ninja==1.11.1.4
numexpr==2.10.1
numpy==1.23.5
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.1.105
packaging==24.1
pandas==2.2.2
patool==4.0.0
patsy==0.5.6
pillow==10.4.0
platformdirs==4.3.6
product_key_memory==0.2.11
propcache==0.3.1
protobuf==5.28.3
psutil==6.0.0
pyaml==24.7.0
pyparsing==3.1.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytorch-forecasting==1.3.0
pytorch-lightning==2.5.1.post0
pytz==2024.1
PyWavelets==1.8.0
PyYAML==6.0.1
reformer-pytorch==1.4.4
regex==2024.11.6
requests==2.32.3
safetensors==0.5.3
scikit-base==0.12.2
scikit-learn==1.5.1
scikit-optimize==0.10.2
scipy==1.14.0
seaborn==0.13.2
sentry-sdk==2.18.0
setproctitle==1.3.3
six==1.16.0
sktime==0.36.1
smmap==5.0.1
statsmodels==0.14.2
sympy==1.12
tbb==2022.1.0
tcmlib==1.3.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
thop==0.1.1.post2209072238
threadpoolctl==3.5.0
tokenizers==0.21.1
torch==2.4.0
torch_geometric==2.5.3
torchaudio==2.4.0
torchmetrics==1.7.1
torchvision==0.19.0
tqdm==4.66.4
transformers==4.51.3
triton==3.0.0
typing==3.7.4.3
typing_extensions==4.11.0
tzdata==2024.1
umf==0.10.0
urllib3==2.2.2
wandb==0.18.6
Werkzeug==3.1.3
xgboost==2.1.1
yarl==1.18.3
